{% extends 'task/layout.html' %}

{% block content %}
<header class="header">
		<h1>todos</h1>
    <input
        class="new-todo"
        placeholder="{{new_title}}"
        autoFocus=True
    />
</header>

<div class="container">

<section class="main">
<ul class="todo-list">
  {% for task in tasks %}
    {% with card_class=task.class_name%}
    {% comment %} <li class="collection-item"><a href="/posts/details/{{task.id}}">{{task.title}}</a></li> {% endcomment %}
    <li class="collection-item {{card_class}}">
    {% endwith %}
    <div class="view">
        <input
            class="toggle"
            type="checkbox"
            {% if task.completed %}checked{% endif %}
        />
        <label onDoubleClick={this.handleEdit}>
            {{task.title}}
        </label>
        <button class="destroy" onClick={this.props.onDestroy} />
    </div>
    <input
        ref="editField"
        class="edit"
        value=" {{task.edit_title}}"
    />
</li>
  {% endfor %}
</ul>
</section>
</div>

{% endblock %}
