{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% comment %} <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"> {% endcomment %}
  <link rel="stylesheet" type="text/css" href="{% static 'task/style.css' %}">
  <title>TODO List</title>
</head>
<body>
    <section class="todoapp"></section>

    {% block content %}
    {% endblock %}
    <br>
</body>
</html>